{
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"dynamicImport": true,
			"decorators": true
		},
		"target": "es2020",
		"transform": {
			"decoratorMetadata": true,
			"legacyDecorator": true
		},
		"loose": false,
		"externalHelpers": false,
		// Requires v1.2.50 or upper and requires target to be es2016 or upper.
		"keepClassNames": false,
        "baseUrl": "./"
	},
	"minify": true,
    "sourceMaps": true,
    "exclude": ["tests/"],
    "module": {
        "type": "commonjs"
    }
}
